In [ ]:
Practical 3

In [ ]:
: Try inputting the following code and note the results

In [1]:
print("a" < "b")

True

In [2]:
print("b" < "a")

False

In [3]:
print("John" < "Terry")

True

In [ ]:
Try inputting the following code and note the result. Try to work out why the answer is
different from the previous expression (look carefully, it is different).

In [4]:
print("john" < "Terry")

False

In [ ]:
Try inputting the following code and note the results.

In [5]:
print(5 < 10.2)

True

In [6]:
print(5 < "Monty")

TypeError: '<' not supported between instances of 'int' and 'str'

In [7]:
print(5 < "5")

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
Try inputting the following code and examine the results.

In [8]:
age = 30
age >=18 and age <=65
age <18 or age >65
not age > 18

False

In [ ]:
Try inputting the following code and examine the result.

In [9]:
age = 30
(age >=18 and age <=65) and (not age==30)

False

In [ ]:
Try inputting two expressions that use operator chaining and are equivalent to the
two expressions shown below. (note: you may first want to first assign values to the
‘weight’ and ‘height’ variables for testing purposes)

In [11]:
100 < 30 and 30 < 200
40 > 131 and 40 < 160

False

In [ ]:
Input the examples above but with alternative operand values, that result in both
True and False results.

In [12]:
names = ["Terry", "John", "Michael", "Eric", "Terry",
"Graham"]
"Eric" in names

True

In [13]:
"Mark" not in names

True

In [15]:
message = "Hello there, my name is John"
"nam" in message

True

In [ ]:
 Try writing an if statement that checks if someone is between the ages of 18 and 30
inclusive. If they are, then print a message saying "you are still young!"

In [20]:
age = int(input("Enter your age"))
if age >=18:
    print("You are still young")
else:
    print("You are a kid")

Enter your age19
You are still young

In [ ]:
Try writing an if statement similar to the last example that includes an extra elif
clause to check ages between 30-40. Print a suitable message in the associated code block.

In [22]:
age = int(input("Enter age"))
if age > 100:
    print("you are very old,")
    print("well done!")
elif age > 80:
    print("you are fairly old")
    print("pretty good!")
elif age > 40:
    print("you are middle aged")
    print("never mind")
else:
    print("you are not very old - yet")

Enter age70
you are middle aged
never mind

In [ ]:
Rewrite the above code that inputs a name then prints a message, but change the
condition so it explicitly uses a Boolean expression. Use the example below to help.

In [25]:
name = input("Enter your name: ")
total = 1
if name:
    print("Your name is", name)
else:
    print("Name not entered")
if total != 0:
    print("Total is non-zero")
else:
    print("Total is zero")

Enter your name: susmita
Your name is susmita
Total is non-zero

In [ ]:
: Rewrite the code shown below as a single line Ternary expression.

In [27]:
print("you are an adult"if age >= 18 else "you are not an adult, yet!")

you are an adult

In [ ]:
Input and execute a for loop that iterates over a list of four names, printing each of
them to the screen.

In [34]:
names = ["reesta","sita","rita","geet"]
for x in names:
    print(names)

['reesta', 'sita', 'rita', 'geet']
['reesta', 'sita', 'rita', 'geet']
['reesta', 'sita', 'rita', 'geet']
['reesta', 'sita', 'rita', 'geet']

In [ ]:
: Input and execute a for loop that uses a range() function to generate the following
output:

In [37]:
num = [2, 4, 6, 8, 10]
for n in num:
    print(n, "multiplied by", n, "equals", n * n)

2 multiplied by 2 equals 4
4 multiplied by 4 equals 16
6 multiplied by 6 equals 36
8 multiplied by 8 equals 64
10 multiplied by 10 equals 100

In [39]:
for n in range(5):
    print(n, "doubled is", n * 2)

0 doubled is 0
1 doubled is 2
2 doubled is 4
3 doubled is 6
4 doubled is 8

In [40]:
for n in range(10, 20):
    print(n, "doubled is", n * 2)

10 doubled is 20
11 doubled is 22
12 doubled is 24
13 doubled is 26
14 doubled is 28
15 doubled is 30
16 doubled is 32
17 doubled is 34
18 doubled is 36
19 doubled is 38

In [41]:
for n in range(20, 0, -1):
    print(n, "doubled is", n * 2)

20 doubled is 40
19 doubled is 38
18 doubled is 36
17 doubled is 34
16 doubled is 32
15 doubled is 30
14 doubled is 28
13 doubled is 26
12 doubled is 24
11 doubled is 22
10 doubled is 20
9 doubled is 18
8 doubled is 16
7 doubled is 14
6 doubled is 12
5 doubled is 10
4 doubled is 8
3 doubled is 6
2 doubled is 4
1 doubled is 2

In [69]:
for n in range(2,12,2):
    print(n,"to the power of",n,n**n)

2 to the power of 2 4
4 to the power of 4 256
6 to the power of 6 46656
8 to the power of 8 16777216
10 to the power of 10 10000000000

In [ ]:
Input code containing a for loop that iterates over a list of numbers, printing a
running total during each iteration. You may wish to first define the numbers list as follows

In [21]:
numbers = [10, 20 , 30, 90, 200, 30, 22, 11]
total = 0
for x in numbers:
    total = total + x
    print("Total :", total)

Total : 10
Total : 30
Total : 60
Total : 150
Total : 350
Total : 380
Total : 402
Total : 413

In [ ]:
Amend your previous solution so that if any value within the list is found to be over
100 then the loop should break immediately.

In [20]:
numbers = [10, 20 , 30, 90, 200, 30, 22, 11]
total = 0
for x in numbers:
    if x > 100:
        break
    total = total + x
    print("Total :", total)

Total : 10
Total : 30
Total : 60
Total : 150

In [ ]:
Amend your previous solution once again, so that the message “all numbers
processed” is printed when the loop completes, but only if all values were less or equal to
100 (i.e. the loop did not break early)

In [44]:
numbers =[10,20,30,90,200,30,22,11]
total = 0
for x in numbers:
    total = total+x
    if x > 100:
        break
    print(total)
else:
    print("All numbers processed")

10
30
60
150

In [ ]:
Boolean Expression:a logical data type that can have only the values true or false

In [ ]:
Relational Operator:They are used to compare the operands on either side and determine the relation between them.

In [ ]:
Logical Operator:to perform logical operations on the values of variables

In [ ]:
 Operator Chaining:Chaining relational operators is equivalent to using the logical ‘and’ operator,

In [ ]:
Ternary Operator:A ternary operator is used to return a value based on a condition

In [ ]:
Iteration:Iterations are performed through 'for' and 'while' loops. Iterations execute a set of instructions repeatedly until some limiting criteria is met.

In [ ]:
Nested Loop:When implementing certain algorithms however it is often necessary to 
include control statements within code blocks of other control flow 
statement is known as nested loop