In [ ]:
Practical Questions.

In [1]:
total =100
print("The total is",total)

The total is 100

In [2]:
total = total + 99
print("The total is now", total)

The total is now 199

In [3]:
total += 99
print("The total is now", total)

The total is now 298

In [12]:
total = total * 100

In [ ]:
total *= 100

In [ ]:
total = value + 99

In [13]:
total = total - 1
print("The total is", total)
total = total * 4
print("The total is", total)
total = total / 2
print("The total is", total)

The total is 29799
The total is 119196
The total is 59598.0

In [14]:
total = 98.2
count = 5
average = total/5
print(average)

19.64

In [ ]:
total = 10 # total’s data-type is now an integer
total = 10.5 # total’s data-type is now a float
total = True # total’s data-type is now a boolean
total = "10.5"# total’s data-type is now a string

In [17]:
type (False)

bool

In [18]:
type(1000)

int

In [ ]:
type(100.111)

In [19]:
type("Hello")

str

In [20]:
type(True)

bool

In [21]:
type(100 / 5)

float

In [22]:
type(100 // 5)

int

In [23]:
"ABC" * 10

'ABCABCABCABCABCABCABCABCABCABC'

In [24]:
name = input("What's your name? ")
print("Hello there", name)

What's your name? susmita sharma
Hello there susmita sharma

In [25]:
age = input("Enter your age ")
print("in one year your age will be", age + 1)

Enter your age 20

TypeError: can only concatenate str (not "int") to str

In [ ]:
This program doesnot work because whie inputing value the data type is not declared if it is string or int type.

In [3]:
age = input("Enter your age ")
age = int(age)
print("in one year your will be", age + 1)

Enter your age 20
in one year your will be 21

In [1]:
#Write a program that prompts the user to input two numeric values. Once the values
#have been input display the product of these values, using the multiply (*) operator.

In [27]:
num1 = int(input("Enter the value of x "))
num2 = int(input("Enter the value of y"))
num = (num1*num2)
print(num)

Enter the value of x 3
Enter the value of y4
12

In [ ]:
#Try writing the above assignment statement but only use double quotes instead of
#single quotes as the string delimiter. What is the result?

In [29]:
comment = "I would have 'thought' you knew better!"
print(comment)

I would have 'thought' you knew better!

In [6]:
print("This text includes characters such as '\'\"' and \"''\",\n This is a new line that starts with a tab \nThis new line starts with two tabs")

This text includes characters such as ''"' and "''",
 This is a new line that starts with a tab
This new line starts with two tabs

In [10]:
print("\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\nHello there!\n\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\")

\\\\\\\\\\\\\\\\\\\\\\\\\\\
Hello there!
\\\\\\\\\\\\\\\\\\\\\\\\\\\

In [29]:
example ='\"""This is a triple quoted string\"""'
print(example)

"""This is a triple quoted string"""

In [30]:
print("""Welcome, "John", it’s 'nice' to\nSee you again\nAfter such a long time""")

Welcome, "John", it’s 'nice' to
See you again
After such a long time

In [ ]:
Write some code that calls a print() function, which takes a single string argument
that results in the following text being displayed (exactly as shown). Do this without the use
of any escape sequences.

In [15]:
print("This text spans three lines,\n and includes both single ('),\n and double quotes(\") ")

This text spans three lines,
 and includes both single ('),
 and double quotes(")

In [ ]:
Rewrite the above example, so that the third letter of the ‘surname’ is accessed
rather than the first, then print this letter to the screen.

In [43]:
surname = "Palin"
initial = surname[0]
print(surname[2])

l

In [ ]:
Rewrite the above example, so that the tenth letter of the ‘surname’ is accessed,
and note the result.

In [47]:
surname = "Palin"
initial = surname[0]
print(surname[10])

IndexError: string index out of range

In [ ]:
: Rewrite the above example, so that the second from last letter of the ‘surname’ is
accessed rather than the last, then print this letter to the screen.

In [1]:
surname = "Palin"
print(surname[-1])

n

In [ ]:
Rewrite the above example, so that all of the characters of the ‘surname’ except the
first character are sliced and then displayed on the screen.

In [3]:
surname = "Palin"
print(surname[1:])

alin

In [ ]:
Write code that accesses and prints all characters of the ‘surname’ except the last
character.

In [4]:
surname = "Palin"
print(surname[:])

Palin

In [ ]:
Write code that uses slicing to access then print the first four prime numbers defined
within the ‘primes’ list given above. Note: you will have to input that list first for testing
purposes.

In [6]:
primes = [2, 3, 5, 7, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
print(primes[0:4])

[2, 3, 5, 7]

In [ ]:
Write code that uses slicing to insert two new names just before the final name within
the ‘names’ list.

In [11]:
names = ["Terry", "John", "Michael", "Eric", "Terry", "Graham"]
names[0] = "Terry, G."
names[0:0] = ["Tim", "Bill", "Graeme"]
names.append("Brian")
names = names + ["Mark"]
names += ["Jacob"]
print(names)

['Tim', 'Bill', 'Graeme', 'Terry, G.', 'John', 'Michael', 'Eric', 'Terry', 'Graham', 'Brian', 'Mark', 'Jacob']

In [ ]:
Work out in your head what the contents of the ‘nums’ list would be, then check this
using the Python interpreter.

In [12]:
nums = [1,2,3] * 5
print(nums)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
Look at each of the phrases below and ensure you understand what each of these
means. For any that you do not understand, do a little research to find a definition of each
term. This research may involve looking back over these notes, or the associated lecture
notes. It may also involve searching for these terms on the Internet.

In [ ]:
Assignment:Assignment operators are used to assign a value to a variable.The most commonly used assignment operator is =.

In [ ]:
Data-type:
Data type is a set of values and the allowable operations on those values.

In [ ]:
Argument:
An argument is simply a value provided to a function when you call it

In [ ]:
Indexing: It is a way to refer the individual items within an iterable by its position.

In [ ]:
Slicing: It means taking elements from one given index to another given index.

In [ ]:
Mutable:It is the ability of objects to change their values

In [ ]:
Immutable:It means that after you create the object and assign some value to it, you can't modify that value.